@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	user-select: none;

	font-family: "Roboto Mono", sans-serif;
	color: hsl(216, 2%, 40%);
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background-color: hsl(216, 5%, 21%);

	min-height: 100vh;
}

#data {
	width: 100%;
	
	font-size: 1.5rem;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;

	padding: 2rem;
}

#text {
	font-size: 1.5rem;
	white-space: pre-wrap;
	
	padding-inline: 2rem;
	height: 2rem;
	overflow: hidden;

	scroll-behavior: smooth;

	color: hsl(216, 2%, 40%);
}

#correct {
	color: hsl(55, 12%, 80%);
}

#missed {
	text-decoration: underline;
	text-decoration-color: hsl(355, 46%, 52%);
	color: hsl(355, 46%, 52%);
}

#next {
	color: hsl(216, 2%, 40%);
}

#cursor {
	position: fixed;

	width: 1rem;
	border: 2px solid hsl(47, 71%, 51%);

	transition: 100ms;
}